html.lock,
body.lock {
	overflow: hidden;
}

.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 16px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: clip;
	height: 100%;
}
.main {
	flex: 1 1 auto;
	padding-bottom: 160px;
	overflow: clip;
	@media screen and (max-width: $xl) {
		padding-bottom: 120px;
	}
	@media screen and (max-width: $md) {
		padding-bottom: 80px;
	}
	&-header {
		margin-top: 36px;
		margin-bottom: 80px;
		@media screen and (max-width: $xl) {
			margin: 30px 0 60px;
		}
		@media screen and (max-width: $md) {
			margin: 30px 0 40px;
		}
		&__body {
			padding-bottom: 24px;
			border-bottom: 1px solid $bg-asphalt;
		}
	}
}



.footer {
	margin-top: auto;
}

.heading {
	display: flex;
	flex-direction: column;
	gap: 28px;
	@media screen and (max-width: $md) {
		gap: 12px;
		flex-wrap: wrap;
	}
	&__sub-title {
		font-family: $third-family;
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		text-transform: uppercase;
		color: $dark-gray;
		position: relative;
		display: inline-flex;
		align-items: center;
		gap: 20px;
		padding: 16px 0;
		&::before {
			content: "";
			width: 40px;
			height: 1px;
			background-color: currentColor;
		}
		@media screen and (max-width: $md) {
			padding: 8px 0;
			gap: 10px;
			font-size: 14px;
			line-height: 18px;
			&::before {
				width: 20px;
			}
		}
	}
	&__title {
		font-family: $third-family;
		font-weight: 700;
		font-size: 40px;
		line-height: 52px;
		text-transform: uppercase;
		color: $bg-white;
		@media screen and (max-width: $xl) {
			font-size: calc(40px / 1.5);
			line-height: calc(52px / 1.5);
			transition: opacity $time, transform $time;
		}
		@media screen and (max-width: $md) {
			font-size: 24px;
			line-height: 32px;
		}
		& span {
			color: $bg-green-lime;
		}
		@media screen and (max-width: 374.98px) {
			hyphens: auto;
		}
	}
}

.ibg {
	position: relative;
	& img,
	& video,
	& iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.page-title {
	font-family: $third-family;
	font-weight: 700;
	font-size: 64px;
	line-height: 80px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: $gray;
	.page--text & {
		hyphens: auto;
	}
	@media screen and (max-width: $xl) {
		font-size: 48px;
		line-height: 60px;
	}
	@media screen and (max-width: $md) {
		font-size: 28px;
		line-height: 36px;
	}
}

.form-item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
	font-weight: 400;
	& input,
	& textarea {
		border: 1px solid $bg-asphalt;
		width: 100%;
		padding: 10px 20px;
		font-family: $font-family;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: $bg-white;
		background-color: transparent;
		min-height: 48px;
		border-radius: 0;
		transition: border-color $time, background-color $time;
		&:focus {
			border-color: $gray;
			& ~ label {
				opacity: 0;
			}
		}
		&:disabled,
		&.disabled {
			border-color: $gray;
			background-color: $bg-asphalt;
			pointer-events: none;
		}
		&::placeholder {
			opacity: 0;
		}
		&:placeholder-shown {
			& ~ label {
				opacity: 1;
			}
		}
		&:not(:placeholder-shown) {
			& ~ label {
				opacity: 0;
			}
		}
	}
	&.form-item--error,
	&.error {
		& input,
		& textarea {
			border-color: $system-alert;
		}
	}
	& .form-item--error-message {
		color: $system-alert;
		font-size: 14px;
		line-height: 18px;
		font-family: $font-family;
	}
	& label {
		font-family: $font-family;
		position: absolute;
		top: 13px;
		left: 20px;
		font-weight: 400;
		line-height: 24px;
		color: $gray;
		pointer-events: none;
		display: block;
		transition: opacity calc($time / 2);
		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;
			}
		}
	}
	& textarea {
		min-height: 86px;
		max-height: 150px;
		resize: vertical;
		&::-webkit-scrollbar {
			width: 3px;
			background: $bg-asphalt;
		}
		&::-webkit-scrollbar-track {
			width: 3px;
			background: $bg-asphalt;
		}
		&::-webkit-scrollbar-thumb {
			width: 3px;
			background: $bg-white;
			opacity: 1;
		}
	}
}

.form-item-file {
	justify-self: start;
	& input {
		clip: rect(0 0 0 0);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
		border: none;
		padding: 0;
		width: 100%;
		height: 100%;
		min-height: auto;
		&:not(:placeholder-shown) {
			& ~ label {
				opacity: 1;
			}
		}
	}
	& label {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		display: inline-flex;
		align-items: center;
		gap: 8px;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		color: $bg-white;
		pointer-events: all;
		transition: color $time;
		&::after {
			content: "";
			display: block;
			width: 16px;
			height: 16px;
			mask-image: url('/images/icons/icon-plus.svg');
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $bg-green-lime;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $state-hover;
			}
		}
	}
}
.form__text {
	& a {
		transition: color $time, box-shadow $time;
		@media (any-hover: hover) {
			&:hover {
				color: $state-hover;
				box-shadow: 0 1px 0 0 $state-hover;
			}
		}
	}
}

.content {
	font-size: 16px;
	line-height: 1.75;
	h1, h2, h3, h4, h5, h6 {
		font-family: $third-family;
		font-weight: 700;
		text-transform: uppercase;
		color: $bg-white;
		margin-bottom: 40px;
		hyphens: auto;
		overflow-wrap: break-word;
	}
	& h1 {
		font-size: 64px;
		line-height: 80px;
		margin-bottom: 36px;
		letter-spacing: 0.01em;
		@media screen and (max-width: $xl) {
			font-size: calc(64px / 1.5);
			line-height: calc(80px / 1.5);
		}
		@media screen and (max-width: $md) {
			font-size: 26px;
		}
	}
	& h2 {
		font-size: 48px;
		line-height: 60px;
		margin-bottom: 48px;
		@media screen and (max-width: $xl) {
			font-size: calc(48px / 1.5);
			line-height: calc(60px / 1.5);
		}
		@media screen and (max-width: $md) {
			font-size: 24px;
		}
	}
	& h3 {
		font-size: 40px;
		line-height: 52px;
		margin-bottom: 40px;
		@media screen and (max-width: $xl) {
			font-size: calc(40px / 1.5);
			line-height: calc(52px / 1.5);
		}
		@media screen and (max-width: $md) {
			font-size: 22px;
		}
	}
	& h4 {
		font-size: 28px;
		line-height: 36px;
		margin-bottom: 40px;
		@media screen and (max-width: $xl) {
			font-size: 24px;
			line-height: 28px;
		}
		@media screen and (max-width: $md) {
			font-size: 20px;
		}
	}
	& h5 {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 40px;
		@media screen and (max-width: $md) {
			font-size: 18px;
		}
	}
	& h6 {
		font-size: 16px;
		line-height: 24px;
	}
	p {
		margin-bottom: 16px;
		line-height: 24px;
		color: $bg-white;
		// line-height: 1.75;
		&:last-child {
			margin-bottom: 0;
		}
		@media screen and (max-width: $md) {
			font-size: 14px;
			line-height: 20px;
		}
	}
	ol,
	ul {
		margin-top: 24px;
		margin-bottom: 24px;
		line-height: 24px;
		&:last-child {
			margin-bottom: 0;
		}
		&:first-child {
			margin-top: 0;
		}
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	*:last-child {
		margin-bottom: 0;
	}
	& ul {
		list-style: none;
		margin-top: 24px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		& li {
			position: relative;
			padding-left: 28px;
			line-height: 24px;
			@media screen and (max-width: $md) {
				font-size: 14px;
				line-height: 20px;
				padding-left: 16px;
			}
			&::before {
				content: "";
				position: absolute;
				top: 10px;
				left: 10px;
				width: 4px;
				height: 4px;
				background-color: $bg-green-lime;
				@media screen and (max-width: $md) {
					top: 8px;
					left: 0;
				}
			}
		}
	}
	& table {
		border: 1px solid $bg-asphalt;
		border-collapse: collapse;
		& tr {
			display: grid;
			grid-template-columns: repeat(4, minmax(200px, 1fr));
			&:not(:last-child) {
				border-bottom: 1px solid $bg-asphalt;
			}
		}
		& thead {
			& tr {
				border-bottom: 1px solid $bg-asphalt;
			}
		}
		& td,
		& th {
			padding: 8px 24px;
			text-align: left;
			min-height: 48px;
			display: grid;
			align-items: center;
			&:not(:last-child) {
				border-right: 1px solid $bg-asphalt;
			}
		}
		& th {
			font-weight: 600;
		}
	}
}

.table-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	@media screen and (max-width: $md) {
		margin: 0 -16px;
	}
}

.slider-controls {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 12px;
}
.slider-button {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $bg-white;
	@include transition(border-color $time);
	&::before {
		content: "";
		display: block;
		width: 20px;
		height: 20px;
		mask-repeat: no-repeat;
		mask-position: center;
		background-color: $bg-white;
		@include transition(background-color $time);
	}
	@media screen and (max-width: $xl) {
		width: 40px;
		height: 40px;
	}
	&-prev {
		&::before {
			mask-image: url("/images/icons/icon-arrow-left.svg");
		}
	}
	&-next {
		&::before {
			mask-image: url("/images/icons/icon-arrow-right.svg");
		}
	}
	&.swiper-button-disabled {
		border-color: $bg-asphalt;
		&::before {
			background-color: $dark-gray;
		}
	}
	&.swiper-button-lock {
		display: none;
	}
}

.page--service {
	& .breadcrumbs {
		& .container {
			padding: 0;
		}
	}
}

.anim-heading {
	@media screen and (max-width: $xl) {
		& .anim-title {
			transform: translate3d(0, 100%, 0);
			opacity: 0;
			transition: opacity $time, transform $time;
		}
		& .anim-content {
			opacity: 0;
			transition: opacity $time $time * 4;
		}
		&.active {
			& .anim-title {
				transform: translate3d(0, 0%, 0);
				opacity: 1;
			}
			& .anim-content {
				opacity: 1;
			}
		}
	}
}

#rotate-device {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	background-color: #0f1010;
	background-image: url("/images/rotate.png");
	background-size: 100px 100px;
	background-position: center;
	background-repeat: no-repeat;
	display: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: landscape) {
	#rotate-device {
		display: block;
	}
}

// .anim-title .line {
// 	clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
// }

// .trailer {
// 	width: 134px;
// 	height: 134px;
// 	border-radius: 50%;
// 	position: fixed;
// 	background-color: transparent;
// 	border: 1px solid $bg-white;
// 	left: 0px;
// 	top: 0px;
// 	z-index: 1000;
// 	pointer-events: none;
// 	opacity: 0;
// 	transition: opacity $time * 2 ease;
// 	color: $bg-white;
// 	cursor: pointer;
// 	&:not([data-type=""]) {
// 		opacity: 1;
// 	}
// 	&__content {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		gap: 4px;
// 		width: 100%;
// 		height: 100%;
// 	}
// 	& svg {
// 		width: 16px;
// 		height: 16px;
// 		flex-shrink: 0;
// 		fill: currentColor;
// 	}
// 	&__text {
// 		font-weight: 600;
// 		font-size: 14px;
// 		line-height: 18px;
// 		color: currentColor;
// 	}
// }