body > div.__nuxt {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: clip;
	height: 100%;
}
.main {
	flex: 1 1 auto;
	padding-bottom: 160px;
	&-header {
		margin-top: 32px;
		margin-bottom: 80px;
		&__body {
			padding-bottom: 24px;
			border-bottom: 1px solid $bg-asphalt;
		}
	}
}
.footer {
	margin-top: auto;
}

.heading {
	display: flex;
	flex-direction: column;
	gap: 28px;
	&__sub-title {
		font-family: $second-family;
		font-weight: 700;
		font-size: 16px;
		text-transform: uppercase;
		color: $dark-gray;
		position: relative;
		display: inline-flex;
		align-items: center;
		gap: 20px;
		padding: 16px 0;
		&::before {
			content: "";
			width: 40px;
			height: 1px;
			background-color: currentColor;
		}
	}
	&__title {
		font-family: $second-family;
		font-weight: 700;
		font-size: 40px;
		line-height: 52px;
		text-transform: uppercase;
		color: $bg-white;
		& span {
			color: $bg-green-lime;
		}
	}
}

.btn {
	min-height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: $bg-anthracite;
	background-color: $bg-green-lime;
	position: relative;
	cursor: pointer;
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
	}
	&::before {
		bottom: 0;
		left: 0;
		border-width: 12px 0 0 12px;
		border-color: transparent transparent transparent $bg-asphalt;
	}
	&::after {
		top: 0;
		right: 0;
		border-width: 0 12px 12px 0;
		border-color: transparent $bg-asphalt transparent transparent;
	}
}

.ibg {
	position: relative;
	& img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.page-title {
	font-family: $second-family;
	font-weight: 700;
	font-size: 64px;
	line-height: 80px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: $gray;
}

.form-item {
	position: relative;
	& input {
		border: 1px solid $bg-asphalt;
		width: 100%;
		padding: 10px 20px;
		font-family: $font-family;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: $gray;
		background-color: transparent;
	}
	& label {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 20px;
		font-weight: 400;
		line-height: 24px;
		color: $gray;
	}
}

.content {
	font-size: 16px;
	line-height: 1.75;

	h2, h3, h4, h5, h6 {
		font-family: $font-family;
		font-weight: 400;
		margin-bottom: 24px;
	}
	p {
		margin-bottom: 16px;
		line-height: 24px;
		color: $bg-white;
		line-height: 1.75;
		&:last-child {
			margin-bottom: 0;
		}
	}
	ol,
	ul {
		margin-top: 24px;
		margin-bottom: 24px;
		line-height: 1.75;
		&:last-child {
			margin-bottom: 0;
		}
		&:first-child {
			margin-top: 0;
		}
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	*:last-child {
		margin-bottom: 0;
	}
}